body {
    padding-top: 5rem;
    text-align: center;
    margin: -10px;
    
}

.met{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 250px;
    
    max-width: 500px;
    margin: auto;
    
}

.opener{
    max-width: 2000px;
    background-color: beige;
    text-align: center;
    padding: 0px;
    border:none;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.closer{
    max-width: 2000px;
    background-color: lavender;
    text-align: center;
    padding: 0px;
    border:none;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.stats{
    max-height: 100px;
    margin:auto;
    text-align: center;
    flex-wrap: nowrap;
}

.P{
    text-align:center;
    max-width: 100px;
    position:relative;
    top: 5px;
}

.Foll{
    text-align:center;
    bottom: 75px;
    left: 200px;
    max-width: 100px;
    position:relative;
   
}

.Minions{
    text-align:center;
    max-width: 100px;
    position:relative;
    left: 400px;
    bottom: 155px;
}

.eighteen,.four_three,.one_five{
    font-weight: bold;
}

img{
    border-radius: 50%;
    width:175px;
    height:175px;
}

button{
    background-color: MidnightBlue;
    color: LightCyan;
    border-color: MidnightBlue;
    border-radius: 5px;
    width: 125px;
    

}

