body {
    padding-top: 5rem;
    text-align: center;
    margin: -10px;
    
}


.opener{
    max-width: 2000px;
    background-color: beige;
    text-align: center;
    padding: 0px;
    border:none;
 
}

.closer{
    max-width: 2000px;
    background-color: lavender;
    text-align: center;
    padding: 0px;
    border:none;
    
}

img{
    border-radius: 50%;
    width:175px;
    height:175px;
}

button{
    background-color: MidnightBlue;
    color: LightCyan;
    border-color: MidnightBlue;
    border-radius: 5px;
    width: 125px;
    
}