{% extends 'base.html' %}
{% block main %} 
<div class="met">
<div class="opener">
<img src="{{url_for('static', filename='notme.JPG')}}" alt="Not really me"/>
<h1>Daniel Hughes</h1>
<h5>@DHughes23</h5>
<h5>Kingston, Jamaica</h5>
<h5>{{ date }}</h5>
</div>
<div class="closer">
<p>I'm sleepy. I like books. And I like to build websites. Just ask if you need help. :D </p>

<div class="stats">
<div class="P">
<div class = "eighteen"><p> 18</p></div><div class="Posts"><p>Posts</p></div>
</div>
<div class="Foll">
<div class = "four_three"><p> 43</p></div><div class="Followers"><p>Followers</p></div>
</div>
<div class="Minions">
<div class = "one_five"><p> 157</p></div><div class="Following"><p>Following</p></div>
</div>
</div>
<p><button>Follow</button></p>
</div>
</div>
{% endblock %}



  